- name: Copy a single file
  ansible.windows.win_copy:
    src: \\192.168.1.10\public\Software\sage.rdp
    dest: C:\Users\user01g\Desktop
    remote_src: yes
      #  vars:
      #    ansible_become_user: "{{ win_user_name }}"
      #    ansible_become_password: "{{ win_password }}"
      #    # The tmp dir must be set when using win_copy as another user
      #    # This ensures the become user will have permissions for the operation
      #    # Make sure to specify a folder both the ansible_user and the become_user have access to (i.e not %TEMP% which is user specific and requires Admin)
      #    ansible_remote_tmp: 'c:\tmp'
